  <!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <meta name="format-detection" content="telephone=no" />
      <meta name="msapplication-tap-highlight" content="no" />
      <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
      <!-- <link rel="stylesheet" type="text/css" href="css/all.min.css" /> -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="css/fontawesome.min.css" />
      <link href="css/simple-sidebar.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="css/index.css" />
      <title>WannaPizza</title>
  </head>
  <body ng-app="wannaPizzaApp">
    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li class="sidebar-brand">
                  <a href="#">
                      <i class="fas fa-pizza-slice"></i> Pizza!
                  </a>
              </li>
              <li class="nav-item active">
                <a data-menu-name="index" data-direction="left" class="nav-link prev" href="/index.html"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a data-menu-name="about" data-direction="right" class="nav-link next" href="/about.html"><i class="fa fa-info-circle"></i> About</a>
              </li>
              <li class="nav-item">
                <a data-menu-name="services" data-direction="right" class="nav-link" href="/services.html"><i class="fa fa-user"></i> Services</a>
              </li>
              <li class="nav-item">
                <a data-menu-name="contact" data-direction="right" class="nav-link" href="/contact.html"><i class="fa fa-envelope"></i> Contact</a>
              </li>
              <li class="nav-item">
                <a data-menu-name="news" data-direction="right" class="nav-link" href="/news.html"><i class="fa fa-newspaper"></i> News</a>
              </li>
          </ul>
      </div>
      <!-- /#sidebar-wrapper -->
      <div id="page-content-wrapper">
        <div style="text-align: right; position: fixed; right:0; z-index:1001;"><a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a></div>
        <main id="barba-wrapper" >
          <div class="barba-container">
            <div id="container" class="container text-center">
              <div class="navbar-space">&nbsp;</div>
              <div ng-controller="OrderController">
                <h1>WannaPizza</h1>
                <p class="lead">Order your pizza now!</p>
                <div class="row">
                  <div class="col-md-12">
                    <div class="well" style="text-align: center">
                      <p><i class="fas fa-pizza-slice" style="font-size: 12vh;"></i></p>
                      <form id="contactForm" onsubmit="this.preventDefault;insertValue();$('#contactForm').hide();$('#successMessage').removeClass('d-none'); return false;">
                        <div class="text-left">
                          <div id="pizzas-form-group" class="form-group">
                            <label for="name">Pizza:</label>
                            <select name="pizzas-dropdown"
                                    ng-model="selectedPizza"
                                    ng-options="pizza as pizza.name for pizza in pizzaData.pizzas"
                                    ng-selected="selectedPizza">
                            </select>
                          </div>
                          <div id="pizza-sizes-form-group" class="form-group" ng-show="selectedPizza">
                            <label for="name">Size:</label>{{selectedPizza}}
                            <select id="pizza-size-dropdown"
                                    ng-model="selectedPizzaSize"
                                    ng-options="size as size.desc for size in selectedPizza.sizes"
                                    ng-selected="selectedPizzaSize">
                            </select>
                          </div>
                          <div class="text-right">
                            <input type="button"
                                   class="btn btn-primary"
                                   id="add-pizza-to-order"
                                   value="Add to Order"
                                   ng-click="addToOrder()"></input>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="well" style="text-align: center; min-height:200px;">
                    <h3>Order summary</h3>
                    <div id="order-summary-div">

                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <script type="text/javascript" src="cordova.js"></script>
      <script type="text/javascript" src="js/jquery.1.9.1.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/barba.js"></script>
      <script type="text/javascript" src="js/slidePages.js"></script>
      <script type="text/javascript" src="js/TweenMax.js"></script>
      <script type="text/javascript" src="js/rss-parser.min.js"></script>
      <script type="text/javascript" src="js/angular.min.js"></script>
      <script type="text/javascript" src="js/OrderController.js"></script>

      <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
      });
      $(".nav-link").click(function(e) {
          $("#wrapper").toggleClass("toggled");
      });
      </script>
      <script type="text/javascript" src="js/index.js"></script>
    </div>
  </body>
</html>
